In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import joblib

In [2]:
music_data = pd.read_csv("music-data.csv")
music_data

    age  Gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   23       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   29       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   33       0  Classical
17   37       0  Classical

In [3]:
music_data.describe()

             age     Gender
count  18.000000  18.000000
mean   28.222222   0.500000
std     5.105425   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    29.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [9]:
X = music_data.drop(columns=["genre"])
y = music_data["genre"]

X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.2)

# model = DecisionTreeClassifier()
# model.fit(X_train ,y_train)

# joblib.dump(model, "music_recommender.joblib")

# predictions = model.predict([[21,1],[22, 0]])
# using the already trained model to make predictions
model = joblib.load("music_recommender.joblib")
# predictions = model.predict(X_test)
predictions = model.predict([[21,1], [22, 0]])
predictions

# score = accuracy_score(y_test, predictions)
# score

/home/lawrence/anaconda3/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)